
<table class="tx-bs-text-classification" >
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_englishdata.category" />
		</td>
		<td>
		{englishdata.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_englishdata.title" />
		</td>
		<td>
		{englishdata.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_englishdata.description" />
		</td>
		<td>
		{englishdata.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_englishdata.content" />
		</td>
		<td>
		{englishdata.content}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_englishdata.date_published" />
		</td>
		<td>
			{englishdata.datePublished}
		</td>
	</tr>
</table>