
<label for="title">
	<f:translate key="tx_bstextclassification_domain_model_data.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_bstextclassification_domain_model_data.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="category">
	<f:translate key="tx_bstextclassification_domain_model_data.category" />
</label><br />
	<f:form.textfield property="category" /><br />
<label for="content">
	<f:translate key="tx_bstextclassification_domain_model_data.content" />
</label><br />
	<f:form.textfield property="content" /><br />
<label for="datePublished">
	<f:translate key="tx_bstextclassification_domain_model_data.date_published" />
</label><br />
	<f:form.textfield property="datePublished" /><br />