
<table class="tx-bs-text-classification" >
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_data.category" />
		</td>
		<td>
		{data.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_data.title" />
		</td>
		<td>
		{data.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_data.description" />
		</td>
		<td>
		{data.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bstextclassification_domain_model_data.content" />
		</td>
		<td>
		{data.content}
		</td>
	</tr>
</table>