
<f:layout name="Default" />


<f:section name="main">
<h1>Overview</h1>

	<p>{datas} different articles found</p>
<f:flashMessages />

	<f:comment></f:comment><p><f:link.action action="list" controller="EnglishData">### Show Raw Articles ###</f:link.action></p>
	<p><f:link.action action="show">### Show Terms-List ###</f:link.action></p>
	<p><f:link.action action="knn">### Test KNN ###</f:link.action></p>
	<p><f:link.action action="bayes">### Test Naive Bayes ###</f:link.action></p>
	<p><f:link.action action="fingerprinting">### Test Semantic Fingerprinting ###</f:link.action></p>




</f:section>