
<f:layout name="Default" />


<f:section name="main">

	<f:link.action class="back" action="list">Back to Overview</f:link.action>

	<h2>Listing the English Terms</h2>

	<f:flashMessages />

	<table  class="tx_bstextclassification" >
		<tr>
			<th><f:translate key="tx_bstextclassification_domain_model_englishterms.terms" /></th>
			<th> <f:translate key="tx_bstextclassification_domain_model_englishterms.article_i_d" /></th>
		</tr>

		<f:for each="{datas}" as="data">
			<tr>
				<td> {data.terms}</td>
				<td> {data.articleID}</td>
				<f:comment><td><f:link.action action="edit" arguments="{data : data}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{data : data}">Delete</f:link.action></td></f:comment>
			</tr>
		</f:for>
	</table>


</f:section>