
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Terms</h1>

<f:flashMessages />

<table  class="tx_bstextclassification" >
	<tr>
		<th><f:translate key="tx_bstextclassification_domain_model_terms.category" /></th>
		<th><f:translate key="tx_bstextclassification_domain_model_terms.title" /></th>
		<th><f:translate key="tx_bstextclassification_domain_model_terms.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{termss}" as="terms">
		<tr>
			<td><f:link.action action="show" arguments="{terms : terms}"> {terms.category}</f:link.action></td>
			<td><f:link.action action="show" arguments="{terms : terms}"> {terms.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{terms : terms}"> {terms.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{terms : terms}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{terms : terms}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Terms</f:link.action>
</f:section>